/* src/assets/fonts/fonts.scss */

/* Regular */
@font-face {
  font-family: "Involve";
  src: url("/sveton/assets/fonts/Involve-Regular.woff2") format("woff2"),
    url("/sveton/assets/fonts/Involve-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Involve";
  src: url("/sveton/assets/fonts/Involve-Bold.woff2") format("woff2"),
    url("/sveton/assets/fonts/Involve-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Involve";
  src: url("/sveton/assets/fonts/Involve-Medium.woff2") format("woff2"),
    url("/sveton/assets/fonts/Involve-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Oblique */
@font-face {
  font-family: "Involve";
  src: url("/sveton/assets/fonts/Involve-MediumOblique.woff2") format("woff2"),
    url("/sveton/assets/fonts/Involve-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: oblique;
}

/* Oblique */
@font-face {
  font-family: "Involve";
  src: url("/sveton/assets/fonts/Involve-Oblique.woff2") format("woff2"),
    url("/sveton/assets/fonts/Involve-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: oblique;
}

/* SemiBold */
@font-face {
  font-family: "Involve";
  src: url("/sveton/assets/fonts/Involve-SemiBold.woff2") format("woff2"),
    url("/sveton/assets/fonts/Involve-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Oblique */
@font-face {
  font-family: "Involve";
  src: url("/sveton/assets/fonts/Involve-SemiBoldOblique.woff2") format("woff2"),
    url("/sveton/assets/fonts/Involve-SemiBoldOblique.otf") format("opentype");
  font-weight: 600;
  font-style: oblique;
}
